body{
    
    background: url("../images/289-2892325_bookshelf-background-clipart.png");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
}


h1 {
    text-shadow: 1px 0 0 #000, 0 -1px 0 #000, 0 1px 0 #000, -1px 0 0 #000;
    
}
h5 {
   
    text-shadow: 1px 0 0 #000, 0 -1px 0 #000, 0 1px 0 #000, -1px 0 0 #000;
     
}

.form-group{
    margin: 0 0 15px 0; 
}

.vertical-align{
    display: inline;
}

#page-heading {

    text-align: center;
    font-weight: bold;
    
}
#tagline {

      text-align: center;
      
}
